<!DOCTYPE html>
<html>
<head>
  <title> Speedy Support - Contact Us </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Contact.css' %}"></link>
</head>

<body>
 <div class="titlebar">
  <img src="/static/img/Logo.jpeg" class="logo"> 
  <ul>
   <li><a href="/welcome/welcome/">HOME</a></li>
  </ul>
 </div>
 <div class="background">
 </div>
 <div class="center">
  <h1>For further queries contact</h1><br>
  <center><img src="{% static 'img/Location.jpeg' %}" class="icon"></center>
  <p>Sri Sivasubramaniya Nadar College of Engineering<br>SH 49A, Kalavakkam, Tamil Nadu, Chennnai - 603110.<br><br>
  <center><img src="{% static 'img/Mail.png' %}" class="icon"></center>
  <p>malavika2210770@ssn.edu.in<br>madhukrishaa2210381@ssn.edu.in
    <br>madhusudhanan2210528@ssn.edu.in<br>manishkumar2210595@ssn.edu.in</p><br><br> 
  <center><img src="{% static 'img/Phone.png' %}" class="icon"></center>
  <p>+91 72000 68373<br>+91 94999 47145<br>+91 93611 62382<br>+91 96799 71630</p>
  <center>   
  <div class="map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.412088061311!2d80.20075717592933!3d12.751728819658911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52512f04729e11%3A0xbc4ea0ae50ca1aaa!2sSri%20Sivasubramaniya%20Nadar%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1695287825427!5m2!1sen!2sin"
    width="500" 
    height="500" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
   </iframe>
  </div>
 </div>
</body>
</html>