<!DOCTYPE html>
<html>
<head>
  <title> Speedy Support - Active Ticket </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Responder.css' %}"></link>
</head>

<body>
 <div class="titlebar">
  <img src="/static/img/Logo.jpeg" class="logo"> 
  <ul>
    <li><a href="/responder/responder/">ACTIVE TICKET</a></li>
    <li><a href="/closeticket/closeticket/">CLOSE TICKET</a></li>
    <li><a href="/contact/contact/">CONTACT</a></li>
    <li><a href="/welcome/welcome/">LOGOUT</a></li>
  </ul>
 </div>
 <div class="background">
 </div>
 <div class="center">
  <div class="formbox"><br>
   <center><h2>HELLO RESPONDER !!!</h2></center><br><br>
    <p>You are expected to address the problems faced by the students / faculties in the hostels / departments
      as soon as possible. Once a ticket is opened by the complainer,  you will receive a notification through
      mail. You can close the ticket by logging in, using your registered email id and password, in the SPEEDY
      SUPPORT App. You can also check the active tickets in the App.<br><br>
  </div>
 </div>
</body>
</html>