<!DOCTYPE html>
<html>
<head>
  <title> Welcome to Speedy Support </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Welcome.css' %}"></link>
</head>

<body>
  <div class="titlebar">
    <img src="/static/img/Logo.jpeg" class="logo"> 
      <a href="/login/login"><button class="button1">OPEN A NEW TICKET</button><br><br></a>
      <a href="/login/login"><button class="button1">CHECK TICKET STATUS</button><br><br></a>
  </div>
  <div class="background">
    <div class="backgroundtext">
     <p>HELP DESK FOR INSTANT RESPONSE</p>
     <div class='align'>
      <a href="/login/login"><button class="button"><span></span>LOGIN ➜</button><br><br></a>
     </div>
    </div>
  </div>
    
   
</body>
</html>
